In [3]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from scipy.io import arff
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [8]:

# Load ARFF file
data = arff.loadarff('OliveOil_TRAIN.arff')

# Convert to DataFrame
df = pd.DataFrame(data[0])

# # Transpose the DataFrame
df = df.T

# Display the first few rows
df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
att1,-0.611375,-0.615392,-0.611999,-0.622784,-0.621793,-0.600229,-0.61543,-0.614015,-0.59665,-0.620747,...,-0.615447,-0.611827,-0.614663,-0.6169,-0.609603,-0.611809,-0.609103,-0.614344,-0.611069,-0.607492
att2,-0.610586,-0.613729,-0.6105,-0.622222,-0.621272,-0.599577,-0.614164,-0.612369,-0.595023,-0.620111,...,-0.614078,-0.610399,-0.613982,-0.614775,-0.607797,-0.609819,-0.607806,-0.612104,-0.609887,-0.606521
att3,-0.606557,-0.609228,-0.606374,-0.619049,-0.617298,-0.596144,-0.610041,-0.608472,-0.591794,-0.616434,...,-0.609793,-0.606156,-0.610015,-0.610646,-0.604282,-0.605518,-0.603096,-0.608396,-0.606573,-0.60212
att4,-0.601132,-0.604315,-0.600445,-0.613251,-0.612074,-0.590664,-0.603962,-0.602971,-0.586665,-0.611036,...,-0.604055,-0.60003,-0.603629,-0.604882,-0.599227,-0.599309,-0.596943,-0.602375,-0.601073,-0.596464
att5,-0.594315,-0.598768,-0.593084,-0.605889,-0.605472,-0.583358,-0.596794,-0.596025,-0.579232,-0.603726,...,-0.595903,-0.592738,-0.596482,-0.597015,-0.591342,-0.591046,-0.590294,-0.594778,-0.593358,-0.590264